*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    scrollbar-width: none;
    position: relative;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #192331;
    font-family: Helvetica, sans-serif;
    padding: 10px 0;
    position: fixed;
    z-index: 50;
    opacity: 0.9;
}

.nav .options ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0 15px;
    font-size: 16px;
    gap: 30px;
    font-weight: 500;
    color: rgb(191, 191, 191);
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    color: #3270f7;
    transition: 500ms;
}

.nav .options ul li:hover{
    cursor: pointer;
    color: rgb(140, 140, 140);
    transition: 500ms;
}

.nav .theButton .signIn{
    background-color: #3270f7;
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.container{
    width: 100%;
    padding-right: 10rem;
    padding-left: 5rem;
    padding-bottom: 6rem;
    padding-top: 3rem;
}

.subContainer{
    width: 100%;
    display: flex;
    font-weight: 500;
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
}

.leftPart{
    display: flex;
    padding-top: 7rem;
    width: 40%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.collection{
    font-size: 20px;
    line-height: 24.38px;
    font-family: Montserrat, sans-serif;
    color: rgb(254, 50, 27);
}

.leftPart h1{
    font-weight: 700;
    font-size: 90px;
    line-height: 106px;
    margin-top: 2.5rem;
    font-family: Palanquin, sans-serif;
    color: black;  
}

.span1{
    background-color: white;
    color: black;  
    white-space: nowrap;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    z-index: 10;
    position: relative;
}

.span2{
    color: rgb(254, 50, 27);
    display: inline-block;
    margin-top: .75rem;
}

.content{
    max-width: 25rem;
    color: black;
    line-height: 2rem;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 3.5rem;
}

.shopNow, .firstButton{
    color: rgb(255, 255, 255);
    line-height: 1;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    padding: 1rem 1.75rem;
    background-color: rgb(254, 50, 27);
    border-width: 1px;
    border-radius: 9999px;
    gap: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: none;
    border-color: #616161;
}

.shopNow svg{
    border-radius: 9999px;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: .5rem;
    background-color: rgb(28, 28, 33);
}

.infoContainer{
    gap: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5rem;
}

.brands, .shops, .customers{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    font-family: Palanquin, sans-serif;
    color: black;  
}

.brand, .shop, .customer{
    line-height: 1.75rem;
    font-family: Montserrat, sans-serif;
    color: black;   
}

.rightPart{
    width: 100%;
    position: relative;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url("/assets/collection-background.svg");
    background-color: rgb(236, 238, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.showCase{
    position: relative;
    object-fit: contain;
    z-index: 10;
}

.subShowCase{
    width: 90%;
    gap: 1.5rem;
    left: 10%;
    display: flex;
    position: absolute;
    bottom: -5%;
    justify-content: space-around;
}

.subShow{
    border-color: rgb(254, 50, 27);
    border-width: 2px;
    border-radius: .75rem;
    cursor: pointer;
}

.show{
    width: 10rem;
    height: 10rem;
    background-position: center;
    background-size: cover;
    background-image: url(/assets/thumbnail-background.svg);
    border-radius: .75rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.productContainer{
    width: 100%;
    padding: 6rem 4rem;
    color: black;
}

.textPart{
    gap: 1.25rem;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
}

.textPart h2{
    font-weight: 700;
    font-size: 44px;
    line-height: 58px;
    font-family: Palanquin, sans-serif;
}

.allProducts h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    font-family: Palanquin, sans-serif;
    margin-bottom: 2rem;
}

.textPart span{
    color: rgb(254, 50, 27);
}

.textPart p{
    max-width: 32rem;
    font-family: Montserrat, sans-serif;
    margin-top: .5rem;
}

.cardPart{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 4rem 0;
}

.details{
    width: 100%;
    text-align: center;
    font-family: Montserrat, sans-serif;
    line-height: 1.5;
}

.item img{
    width: 651.5px;
    height: 651.5px;
}

.item img:hover{
    cursor: pointer;
}

.allProducts img{
    width: 282px;
    height: 282px;
}

.rating{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

.details h3, .details p{
    font-weight: 600;
    font-size: 24px;
    font-family: Palanquin, sans-serif;
    margin-top: .5rem;
}

.footerContainer{
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: black;
    color: white;
    font-family: Montserrat, sans-serif;
}

footer{
    padding: 0rem 1rem;
    margin-top: 4rem;
}

.upperPart{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.leftSide{
    width: 31%;
}

.footerText{
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    line-height: 1.75rem;
    padding-top: 1rem;
}

.socialMedia{
    display: flex;
    align-items: flex-start;
    padding-top: 3rem;
    gap: 1.5rem;
}

.socialMedia img{
    background-color: #fff;
    padding: 0.5rem 0.5rem;
    border-radius: 50%;
}

.rightSide{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: space-between;
    line-height: 1.5;
    padding-left: 8rem;
}

.rightSide li{
    list-style-type: none;
    font-size: 16px;
    margin-top: 0.7rem;
}

.rightSide h4{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.belowPart{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 6rem;
}

.aboutContainer{
    padding: 6rem 4rem;
}

.about{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2.5rem;
}

.leftText{
    width: 60%;
    padding: 4rem 4rem;
}

.about h2{
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    font-family: Palanquin, sans-serif;
}

.disc1, .disc2{
    width: 90%;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    line-height: 1.75rem;
    margin-top: 1rem;
}

.leftText span, .rightAbout span, .details p, .contact span, .allProducts span{
    color: rgb(254, 50, 27);
}

.viewDetails{
    margin-top: 3rem;
    line-height: 1;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    padding: 1rem 2rem;
    background-color: rgb(254, 50, 27);
    border-radius: 9999px;
    color: #fff;
    border-style: none;
}

.allBenifits{
    padding: 0 6rem;
}

.benifits{
    display: flex;
    gap: 2.5rem;
    justify-content: space-evenly;
}

.firstService, .secondService, .thirdService{
    width: 30%;
    padding: 4rem 2rem;
    box-sizing: border-box;
}

.benifits img{
    background-color: rgb(254, 50, 27);
    border-radius: 9999px;
    padding: 0.75rem 0.75rem;
}

.benifits h3{
    line-height: 1.5;
    font-weight: 700;
    font-size: 28px;
    font-family: Palanquin, sans-serif;
    margin-top: 1.25rem;
}

.benifits p{
    line-height: 1.5;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    margin-top: 0.75rem;
}

.about3{
    padding: 6rem 4rem;
}

.nextAbout{
    display: flex;
    align-items: center;
}

.rightAbout h2{
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    font-family: Palanquin, sans-serif;
}

.rightAbout p{
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    line-height: 1.75rem;
    margin-top: 1rem;
}

.buttons{
    display: flex;
    margin-top: 2.5rem;
    gap: 1rem;
}

.secondButton{
    line-height: 1;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    padding: 1rem 1.75rem;
    border-width: 1px;
    border-radius: 9999px;
    gap: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: none;
    border-color: #616161;
}

.contactContainer{
    width: 100%;
    padding: 8.3rem 5rem;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact h3{
    width: 40%;
    font-size: 48px;
    font-weight: 700;
    font-family: Palanquin, sans-serif;
    line-height: 68px;
}

.enterEmail{
    width: 40%;
    border: 1px solid rgb(109 109 109);
    padding: 1rem;
    border-radius: 9999px;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
}

.enterEmail input{
    border-width: 1px;
    padding-left: 1.25rem;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(109 109 109);
    border-style: none;
}

.enterEmail button{
    line-height: 1;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    padding: 1rem 1.75rem;
    border-width: 1px;
    border-radius: 9999px;
    gap: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: none;
    border-color: #616161;
    background-color: rgb(254, 50, 27);
    color: white;
}

.owl-theme{
    display: flex;
}